//ref:https://zenreal.github.io/posts/44730
//請到 https://fontawesome.com/ 尋找喜歡的圖示替換。
/*修改h1前面圖標*/
// .posts-expand .post-body h1:before{
//     top: 10px;
//     width: 18px;
//     height: 18px;
//     content: "🌈";
//     font-size: 18px;
//     line-height: 18px;
//     margin-right: 16px;
    
// }

/*修改h2前面圖標*/
// .posts-expand .post-body h2:before{
//     top: 10px;
//     width: 18px;
//     height: 18px;
//     content: "🌞";
//     font: normal normal normal 14px/1 FontAwesome;
//     font-size: 18px;
//     line-height: 18px;
//     margin-right: 16px
// }

// /*修改h3前面圖標*/
// .posts-expand .post-body h3:before{
//     top: 10px;
//     width: 18px;
//     height: 18px;
//     content: "🔍";
//     font: normal normal normal 14px/1 FontAwesome;
//     font-size: 18px;
//     line-height: 18px;
//     margin-right: 16px;
// }